main {
  margin-top: 0;
}

.admin-section {
  width:100%;
  min-height: 100vh;
  height:100%;
}

.admin-title {
  
  width:100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--color-light-surface-dwn);
  
  /* margin: 20px 0; */
}

.admin-title h1 {
  font-weight: 500;
  font-size: 28px;
  margin-top: 0;
  /* color:var(--color-light-surface); */
}

.admin-wrap {
  /* min-height: 100vh; */
  height:100%;
  display:flex;
  flex-direction: row;

}

.admin-menu {
  min-height: 100vh;
  height:100%;
  width: 300px;
  background-color: var(--color-light-surface);
  padding:40px 0;
  display:flex;
  flex-direction: column;
  gap:20px;
}

.admin-menu-title {
  
  /* font-weight: 500; */
  font-size: 18px;
  padding: 20px 40px;
}

.admin-menu-item {
  
  font-size: 18px;
  cursor: pointer;
  padding: 20px 50px;
}

.admin-menu-item:hover {
  color:var(--color-accent);
  text-decoration: underline;
  background-color: var(--color-light-surface-dwn);
}

.admin-panel-wrap{
  width:100%;
  display:flex;
  flex-direction: column;
  padding:3rem;
}

.admin-panel-products {
  width:100%;
  display:flex;
  flex-direction: column;
}

.products-edit {
  width:100%;
  display:flex;
  flex-direction: row;
  gap:1.25rem;
  padding:1.25rem;  
}

.products-edit-add,
.products-edit-update,
.products-edit-remove {
  height:12rem;
  max-width: 22rem;
  width:100%;
  display:flex;
  flex-direction: column;
  border: 1px solid var(--color-light-surface-dwn);
  align-items: center;
  justify-content: center;
}