.checkout-contact-line input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* фон */
  -webkit-text-fill-color: #272727;                 /* цвет текста */
  transition: background-color 5000s ease-in-out; /* плавная замена */
}

input:required {
  /* border-left: 2px solid #ff531f; */
}

.checkout-section {
  min-height: 100vh;
  max-width:1280px;
  width:100%;
  padding: 0px 0px;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
}

.checkout-title {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px;
  background-color: #F8F7FC;
  margin: 20px 0;
}

.checkout-title h1 {
  margin:0;
}

.checkout-wrap {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top:0px;
  margin-bottom:40px;
  gap:10px;
}

.checkout-item-wrap {
  width:35%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  border:1px solid #90b913;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;

  /* box-shadow: 0 5px 8px rgba(0,0,0,0.1); */
}

.checkout-item-list {
  width:100%;
  display:flex;
  flex-direction: column;
  background-color:white;
  
  
  /* padding:20px 0; */
}

.checkout-item {
  display:flex;
  align-items: center;
  background-color:white;
  border:1px solid #F8F7FC;
  border-radius: 4px;
  padding:20px;
}

.checkout-item-image {
  max-width:160px;
  max-height:140px;
  width:100%;
  height:140px;
  /* margin:4px; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}
.checkout-item-image img {
  /* width:100%; */
  border-radius: 4px;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.checkout-item-text {
  width:100%;
  padding-left:20px ;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.checkout-item-text-name p {
  margin:0;
}

.checkout-contact-list {
  display:flex;
  flex-direction: column;
  width: 65%;
  padding-right:40px;
  gap:10px;
}


.checkout-panel {
  width:100%;
  padding:40px;
  background-color: #F8F7FC;
  gap:20px;
  display:flex;
  flex-direction:column;
  /* border-top:1px solid #c0c0c0; */
  /* border-radius: 4px; */
}

.checkout-panel h3 {
  margin-top:0px;
  padding-bottom: 10px;
}

.checkout-item-text-short p {
  font-size: 12px;
  color:#787878
}

.checkout-input {
  width: 100%;
  min-width:220px;
  /* max-width: 350px;      */
  padding: 12px 16px;
  font-size: 16px;
  font-family: inherit;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.25s ease;
  box-sizing: border-box;
}

/* .checkout-input:invalid {
  border-color: red;
} */

.checkout-input:invalid:focus {
  outline: 2px solid red;
}

.checkout-contact-line a {
  text-underline-offset: 4px;
  text-decoration: none;
}

.checkout-contact-line a:hover {
  text-underline-offset: 4px;
  text-decoration: underline;
}

label {
  cursor:pointer;
}


/* On focus */
.checkout-input:focus {
  border-color: #787878;         /* subtle blue border */
  /* box-shadow: 0 0 0 3px #F8F7FC; */
}

/* Placeholder style */
.checkout-input::placeholder {
  color: #aaa;
  font-size: 14px;
}

/* Disabled state */
.checkout-input:disabled {
  background: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.7;
}

.checkout-subtotal {
  display:flex;
  flex-direction: column;
  gap:6px;
  background-color: #F8F7FC;
  padding:20px;
}

.checkout-subtotal p {
  display: flex;
  justify-content: space-between; /* pushes left and right */
  margin: 4px 0;
}

.checkout-subtotal span{
  text-align: right;
}

.checkout-total {
  border-top:1px solid #787878;
  margin-top:20px; 
  font-size: 24px;
  padding-top:10px;
}

.checkout-btn-order {
  width:100%;
  height: 55px;
  color: white;
  font-size:18px;
  font-weight: 400;
  background-color: #90b913;
  cursor: pointer;
  display: flex;
  align-items: center;     
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  align-self:flex-end;
  justify-self: flex-end;
  /* z-index: 100; */
  /* margin-top:auto; */
}

.checkout-btn-order:hover {
  background-color: #a2cd22;
}


.checkout-country {
  width: calc(50% - 10px);
  /* max-width: 350px; */
  padding: 12px 16px;
  font-size: 16px;
  font-family: inherit;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.25s ease;
  cursor: pointer;

  /* убираем системные стили у селекта */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* кастомная стрелка */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;

  /* фиксируем внутренние отступы для текста */
  text-indent: 0.01px; /* убирает баг в Firefox */
  text-overflow: '';
}

.checkout-country:focus {
    border-color: #787878;
  
}

.checkout-contact-line{
  /* padding-bottom:20px; */
  width:100%;
  display:flex;
  gap:20px;
}

.checkout-contact-line textarea {
  width: 100%!important;
  height: 150px; /* Approximately three rows */
  resize: none;
  padding: 16px 24px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-top-left-radius: 10px;
  /* margin:10px; */
  border: 1px solid #ccc;
  font-size: 16px; /* Плавное выделение */
}

.checkout-contact-line textarea:focus {    /* Цвет рамки при фокусе */
  border-color: #787878;
  outline: none;             /* Убираем стандартное выделение */
}

.checkout-delivery {
  padding-left: 40px;
  display:flex;
  flex-direction: column;
  gap:20px;
}

.checkout-padded-line {
  padding-left:0px;
}

.orgRequired {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.2s ease;
  margin-top: -20px;
}

.orgRequired.show {
  max-height: 200px;
  opacity: 1;
  margin-top: 0;
}

@media (max-width: 950px) {

  .checkout-section {
    /* padding: 0 10px; */
  }

  .checkout-wrap {
    flex-direction: column;
    padding: 0 20px;
  }

  .checkout-contact-list {
    width:100%;
    padding: 0;
  }

  .checkout-panel {
    padding: 20px;
    flex-wrap: wrap;
  }

  .checkout-contact-line {
    flex-wrap: wrap;
  }


  .checkout-country {
    width:100%;
  }

  .checkout-delivery {
    padding: 0;
  }

  .checkout-item-wrap {
    width:100%;
    
  }

  .checkout-item {
    flex-direction: column;
  }

  .checkout-item-text {
    padding-top:20px;
    padding-left:0px;
  }

  .checkout-total {
    font-size: 18px;
  }
}


