.product-section {
  width: 100%;
  max-width: 1280px;
  min-width: 0;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom:40px;
  border-top: 1px solid #F8F7FC;
}

.product-name {
  /* width:800px; */
  display:flex;
  justify-content: flex-start;
  padding-bottom:20px;
  width: 100% !important; /* вместо фиксированной */
  max-width: 560px !important; /* если нужно ограничение */
  box-sizing: border-box !important;
}

.product-name h2 {
  margin-top:20px;
}

.product-wrap {
  width:100%;
  display:flex;
  justify-content:space-between;
}

.product-gallery {
  width:60%;
}

.product-gallery-main {
  /* min-height:505px; */
  max-height:600px;
  width: 100%;
  aspect-ratio: 3 / 3 !important;
  position: relative;
}

.product-gallery-main img{
  max-height: 100%;
  object-fit: cover;
  width:100%;
  border: 1px solid #F8F7FC;
}

.product-gallery-thumbs {
  width: 100%;
  display:flex;
  justify-content: center;
  overflow-x: auto;
  gap:8px;
  align-items: center;
  margin-top: 10px;
}

.product-gallery-thumbs img{
  max-height: 140px;
  width:140px;
  border: 1px solid #F8F7FC;
  object-fit: cover;
  flex-shrink: 0;
  cursor:pointer;
}

.product-gallery-thumbs img:hover {
  border: 1px solid #c5c5c5;
}

.product-buy-wrap {
  max-width:560px;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:start;
  padding-left:30px;
}

.product-price-row {
  display:flex;
  justify-content: space-between;
  align-items: start;
}

.product-price {
  display:flex;
  justify-content: flex-start;
  align-items: end;
  flex-direction: row;
}

.product-price span{
  /* width: 400px; */
  font-size: 28px;
  font-weight:700;
  margin-top:0;
}

.product-short-row {
  display:flex;
  padding: 20px 0;
  width:100%
}

.product-buy-btn {
  width:140px;
  height: 44px;
  color: white;
  font-size:18px;
  font-weight: 400;
  background-color: #90b913;
  border:none;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.product-buy-btn:hover {
  background-color: #a2cd22;
}

.product-buy-btn a {
  text-decoration: none;
  color: #ffffff;
}

.product-phone-row {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding-top:10px;
}

.product-phone-icon img {
  width:50px;
}

.product-phone-text a {
  color:#787878;
  font-size: 18px;
  font-weight: 500;
}

.product-phone-text span {
  color:#c0c0c0;
  font-size: 12px;
}

.phone-input-row {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.phone-buy-input {
  height:44px;
  /* border-radius: 10px; */
  margin:10px 0;

  /* width:220px; */
  width: 100%;
  border:none;
  box-shadow:0 4px 20px rgba(0, 0, 0, 0.1);
  text-decoration:none;
  outline: none;
  padding:0 18px;
}

.phone-buy-btn {
  width:140px;
  height: 44px;
  color: white;
  font-size:18px;
  font-weight: 400;
  background-color: #c4c4c4;
  border:none;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.phone-buy-btn:hover {
  background-color: #cecece;
}


.roll-box-row {
  
}

.roll-box-line {
  border: 1px solid #cecece;
  border-radius: 4px;
  margin-bottom:4px;
  background-color: #F8F7FC;
}

.roll-box-line-head {
  cursor:pointer;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding:10px 10px;
}

.roll-box-line img {
  width:30px;
  /* padding:0 10px; */
  margin:0 10px;
}

.roll-box-line a {
  width:100%;  
}

.icon-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.roll-box-line.active .icon-arrow {
  transform: rotate(0deg);
}

.roll-box-collapse {
  background-color:#eeedf3;
  padding:10px 40px;
  display: none;
  overflow:hidden;
  height:100%;
}

.roll-box-line.active .roll-box-collapse {
  display: block;
}

.product-details-wrap {
  
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;  
  border-top: 1px solid #eeedf3;
  margin-top: 20px;
}

.product-details-switch {
  display:flex;
  justify-content: center;
  gap:50px;
}

.product-details-switch h2{
  font-size: 20px;
  cursor:pointer;
}



.product-details {
  display:flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  max-width:900px;
  width:100%;
  padding: 20px 20px;
  border: 1px solid  #F8F7FC;
  margin:20px 0;
  display: none;
  
}

/* .box-bullets {
  list-style: none;
  padding-left: 30px;  
}


.box-bullets li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ff5526;
  border-radius: 0%;
  margin-right: 24px;
  margin-left: -1em;
} */

 .box-bullets {
  list-style: none;
  padding-left: 20px;
}

.box-bullets li {
  position: relative;
  padding-left: 34px;
  padding-bottom:20px; 
}

.box-bullets li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.45em;  
  width: 8px;
  height: 8px;
  background-color: #ff5526;
  border-radius: 0%;
} 

.product-perameters {
  display:flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  max-width:900px;
  width:100%;
  box-sizing: border-box;
  padding: 20px 20px;
  border: 1px solid  #F8F7FC;
  margin:20px 0;
  display: none;
  
}

.product-perameters p {
  margin:0;
}

.product-parameters-grey {
  background-color: #F8F7FC;
  padding: 10px 50px;
}

.product-parameters-white {
  padding: 10px 50px;
}

.product-details-switch h2 {
      margin: 0;
      padding: 10px 0;
      cursor: pointer;
      font-size: 18px;
      position: relative;
      color:#c5c5c5 ;
      transition: color 0.3s ease;
    }


.product-details-switch h2.active {
  color:#444;
}

.product-details-switch h2::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #DC4B22;
  opacity: 0;
  transition: opacity 0.3s ease;

    left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.product-details-switch h2.active::after {
  opacity: 1;
}

.product-details-switch h2:hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #DC4B22;
  opacity: 0;
  transition: opacity 0.3s ease;

    left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.product-details-switch h2:hover::after {
  opacity: 1;
}

/* миниатюры гпт */

/* Контейнер галереи */

/* Кнопки стрелок */
.thumb-arrow {
  display:none;
  background: #f0f0f0;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.thumb-arrow:hover {
  background: #ddd;
}

/* Обертка для скролла миниатюр */

.thumbs-scroll {
  /* display: flex;
  overflow-x: auto;
  gap: 5px;
  scroll-behavior: smooth; 
  flex: 1; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  flex-wrap:wrap; */
  overflow: hidden; 

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.thumbs-scroll::-webkit-scrollbar {
  display: none;
}

.thumb-item {
  /* width: 60px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border 0.2s; 
  
  height: 120px; 
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 0;
  */

  aspect-ratio: 1/2; /* сохраняет форму */
  width: 100%;
  object-fit: cover;
  cursor: pointer;
   border: 2px solid transparent;
  border-radius: 3px;
  transition: border 0.2s, transform 0.2s;
}

.thumb-item.active {
  border-color: #DC4B22 !important;
}

.thumb-item {
  
}

.thumb-item.active {
  /* transform: scale(1.1); */
  opacity: 1;
  border: 1px solid;
}



.gallery-arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.4;
  transition: opacity 0.2s;
  border-radius: 40px !important ;
  display:flex;
  justify-content: center;
  align-items: center;
}

.gallery-arrow:hover {
  opacity: 1;
}

.gallery-arrow.left {
  left: 20px;
}

.gallery-arrow.right {
  right: 20px;
}

#mainImage {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

#mainImage.fade-out {
  opacity: 0;
}



@media (max-width: 1279px) {

  .product-section {
    max-width:900px;
    width:100% !important;
    padding:20px;
  }

  .product-gallery-main {
    min-height: 220px;
  }
  .product-gallery {
    min-width: 60%;
  }

  .thumbs-scroll {
  width: 100% !important; /* вместо фиксированной */
  max-width: 560px !important; /* если нужно ограничение */
  box-sizing: border-box !important;
}

.product-gallery-thumbs img {
  flex-shrink: 1; /* позволяет сжиматься */
  max-width: 100%; /* не превышать контейнер */
}

}

/* ----------------MOBILES---------------- */

@media (max-width: 950px) {

  .product-gallery {
    WIDTH:100%;
    min-width: 0%;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-gallery-main {
    min-height: 170px;
    min-width: 0%;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-gallery-main img {
    display:flex;
    width:100%;
  }

  .product-section {
    max-width:600px ;
    width:100% !important;
    padding:20px;
  }

  .product-wrap {
    flex-direction: column;
  }

  .product-buy-wrap {
    margin-top:20px;
    padding-left:0px;
  }

  .product-buy-wrap,
.product-details,
.product-perameters {
  width: 100% !important; /* вместо фиксированной */
  max-width: 560px !important; /* если нужно ограничение */
  box-sizing: border-box !important;
}

.product-buy-wrap, .product-gallery-main {
  flex-shrink:1; /* обязательно */
  min-width:0;   /* важно для flex-контейнеров */
}

.product-gallery-thumbs img {
  flex-shrink: 1; /* позволяет сжиматься */
  max-width: 100%; /* не превышать контейнер */
}

.product-details, .product-perameters {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

.product-details-switch {
  display: flex;
  justify-content: center;
  gap: clamp(10px, 5vw, 50px); /* от 10px до 50px */
  flex-wrap: wrap; /* разрешаем перенос */
}

.product-name h2{
  margin-top:0px;
}
}

/* .product-section > *:not(.product-wrap) {
  display: none !important;
} */

.product-gallery > *:not(.product-gallery-main):not(.product-gallery-thumbs) {
  display: none !important;
}