.reviews-section {
  max-width:900px;
  width:100%;
  /* min-height:100vh; */
  /* background-color: #FF9933; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0 10px;
  margin-top:20px
}
.reviews {
  width:100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height:100vh; */
  margin-top: 14px;
}

.review {
  max-width:600px;
  width:100%;
  border: 1px solid #c0c0c0;
  display: block;
  flex-direction: column;
  align-items: stretch;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  margin-bottom:14px;
}

.review-top {
  background-color: #F8F7FC; 
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  /* border-bottom:1px solid #c0c0c0; */
}

.review-left {
  width:70%;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  padding:10px 0;
}

.review-name p{
  color:#444;
}

.review-name p {
  font-size:large;
  text-wrap:nowrap;
  padding:0;
  margin:0;
}

.review-rating {
  justify-self: flex-start;
  color:#37323b;
}

.review-time {
  width:30%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: flex-end;
}

.review-time p {
  font-size:small;
}

.review-text {
  padding: 0 20px;
  
}

.review-text {
  /* background-color: #FFD9A3; */
  word-wrap: break-word;
  white-space: pre-wrap;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* --------------ADD REVIEW STYLES--------------*/
.add-review {
  max-width:600px;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow:0 4px 20px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #c0c0c0;
}

.review-input-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.add-review-contacts {
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: flex-start;
  border-top:1px solid #c0c0c0;
  background-color: #c5c5c5;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add-review-textarea {
  width: 100%!important;
  height: 150px; /* Approximately three rows */
  resize: none;
  padding: 16px 24px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-top-left-radius: 10px;
  /* margin:10px; */
  border:none;
  font-size: 16px;
}

.add-review-textarea:focus {
  outline: none;
  /* border-color: #007BFF; */
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
 
}

.add-review-textarea p {
  font-size: 22px;
}

.add-review-input {
  height:44px;
  /* border-radius: 10px; */
  margin: 0;
  max-width:298px;
  width: 33%;
  border:none;
  text-decoration:none;
  outline: none;
  padding:0 18px !important;
  background-color: #F8F8FF;
  margin-left:4px;
}

.btn-orange-flex {
  min-width:140px;
  width:100%;
  height: 44px;
  color: white;
  font-size:18px;
  font-weight: 400;
  background-color: #DC4B22; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border:none;
}

.btn-orange-flex:hover {
  background-color: #ee562b;
}

.review-stars {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.review-stars{
  width:33%;
  display:flex;
  padding:0 24px;
  margin-left:4px;
  background-color: #F8F8FF;
  height:44px;
}

.add-review-stars {
  /* height:100%; */
  padding:0 24px;
  margin-left:4px;
  background-color: #F8F8FF;
  width:33%;
  display: flex;
  gap: 6px;
  cursor: pointer;
  align-content: center;
  justify-content: center;
}

.add-review-stars .star {
  width: 24px;
  height: 44px;
  
   flex-shrink: 1;
      transition: transform 0.2s;
}

.add-review-stars .star:hover {
      transform: scale(1.1);
    }

.review-stars li {
  font-size: 28px;
   list-style-type: none;
   
}

.first-review {
  max-width: 600px;
  width:100%;
  background-color: #FFD9A3;
  background: linear-gradient(135deg, #FF9933, #EE562B);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding:2px 2px;
  
  margin-bottom:10px;
}

.first-review-front {
  max-width: 600px;
  width:100%;
  background-color: white;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  padding:10px 10px;
  
}


.first-review p{
  font-size: 18px;
  font-weight: 250;
  color:white;
  text-align: center;
  color:#DC4B22;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s;
}

.first-review span {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анимация плавного движения градиента */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Для блока со звёздами */
.rating {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2); /* лёгкая прозрачность */
  backdrop-filter: blur(10px); /* эффект "стекла" */
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


@media (max-width: 500px) {

  .product-reviews {
    width:100%;
  }

  .reviews-section {
    padding:0;
  }

  .add-review-contacts {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .add-review-input {
    width:100%;
    max-width:100%;
    margin-left:0;
    margin-bottom:1px;
  }
  .add-review-stars {
    width:100%;
    margin-left:0;
  }
}

